<div class="flex items-start justify-center md:items-center md:justify-center md:mt-6">
    <div class="w-full max-w-lg md:max-w-3xl">
    <form class="bg-gradient-to-tr bg-gray-50 shadow-md rounded px-8 pt-6 pb-8 mb-4 lg:grid grid-cols-3 gap-8 lg:mb-0" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    
     <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">Title</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700  leading-tight focus:outline-none focus:shadow-sm ng-invalid:border-red-800" type="text" id="title" formControlName="title" placeholder="Title">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="author">Author</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700  leading-tight focus:outline-none focus:shadow-sm" type="text" id="author" formControlName="author" placeholder="Author">
    </div>

  <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="isbnNumber">ISBN Number</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700  leading-tight focus:outline-none focus:shadow-sm" type="text" id="isbnNumber" formControlName="isbnNumber" placeholder="ISBN Number">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="price">Price</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700  leading-tight focus:outline-none focus:shadow-sm" type="text" id="price" formControlName="price" placeholder="$ 0.0">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="language">Language</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700  leading-tight focus:outline-none focus:shadow-sm" type="text" id="language" formControlName="language" placeholder="Language">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="coverPhotoURL">Cover Image URL</label>
   
        <input #cImage class="mb-2 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700  leading-tight focus:outline-none focus:shadow-sm" type="text" id="coverPhotoURL" formControlName="coverPhotoURL" placeholder="Image URL">
        <img *ngIf="cImage.value" [src]="cImage.value" alt="cImage.value">
    </div>
   
        <div class="md:w-2/3 flex gap-2">
            <!-- [disabled] = "!bookForm.valid"  -->
            <button [disabled]="!bookForm.valid" class="disabled:bg-gray-200 shadow bg-purple-500 hover:bg-purple-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
            {{id ? 'Update' : 'Save'}}
          </button>
          <button (click)="onCancel()" class="shadow bg-red-400 hover:bg-red-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
            Cancel
          </button>
    </div>
    
</form>

</div>
</div>


