<p>book-edit works!</p>
<p>This is the id: {{id}}</p>

<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title">
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" formControlName="author">
    </div>
    <div>
        <label for="coverPhotoURL">Cover Image URL</label>
        <input type="text" id="coverPhotoURL" formControlName="coverPhotoURL">
    </div>
    <div>
        <label for="isbnNumber">ISBN Number</label>
        <input type="text" id="isbnNumber" formControlName="isbnNumber">
    </div>
    <div>
        <label for="price">Price</label>
        <input type="text" id="price" formControlName="price">
    </div>
    <div>
        <label for="language"></label>
        <input type="text" id="language" formControlName="language">
    </div>
    <button type="submit">{{id ? 'Save' : 'Update'}}</button>

</form>
