<div class="w-full h-screen flex justify-center items-center flex-col" style="background-image: url('../../../assets/img/background.jpg')">
    <div class="text-center p-8 mb-8 bg bg-white bg-opacity-60 hover:animate-pulse">
        <span class="text-red-800 font-bold text-lg md:text-xl lg:text-2xl xl:text-3xl p-8">
        “Sometimes, you read a book and it fills you with this weird evangelical zeal, and you become convinced that the shattered world will never be put back together unless and until all living humans read the book.”
<span class="text-gray-800"> ― John Green, The Fault in Our Stars </span>
</span>
    </div>
    <div>
    <button routerLink="books" class="disabled:bg-gray-200 shadow bg-purple-500 hover:bg-purple-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
        Go!
      </button>
    </div>
</div>